{% extends "base.html" %}
{% block title %}500错误{% endblock %}
{%block body%}

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">内部服务器错误</h3>

        <div class="error-desc">
            服务器遇到意外事件，不允许完成请求。我们抱歉。<br/>
            您可以返回主页面: <br/><a href="{{url_for('admin.index')}}}" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>
{{self.footer()}}
    <!-- Mainly scripts -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</body>
{% endblock %}
