<!--博客的右边模块(包含links和categories)-->
{% set navigation = ['btn-default','btn-primary','btn-success','btn-info','btn-warning','btn-danger']%}
  {% if categories %}
  <div class="ibox">

      <div class="ibox-title">
           <a class="layui-code-h3 h5"><i class="fa fa-bars"></i>&nbsp;<span>分&nbsp;类</span></a>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        {% if  user_info.is_login %}
                        <a href="#" data-toggle="modal" data-target="#addCategory">添加分类</a>
                        {%endif%}
                    </li>

                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
      <div class="modal inmodal" id="addCategory" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
              <div class="modal-content animated fadeIn">
                  <div class="modal-body">
                      <form role="form" method="post" action="{{url_for('blog.add_category')}}" enctype="multipart/form-data">
			      {{form.csrf_token}}
                        <div class="form-group">
                            <label>分类名字</label>
                            <input type="text" name="name" placeholder="请输入……" class="form-control">
                        </div>
                        <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>提交</strong></button>
                    </form>
                </div>
              </div>
          </div>
      </div>
      <div class="ibox-content">

          <div class="row">
             {% for category in categories %}
              <div class="col-md-6">
                    <h4 class="text-left">
                        <span data-toggle="tooltip" data-placement="left" title=" {{ category.name }} {{ category.posts|length }}">
                            <a class="btn  {{navigation| random()}}" href="{{ url_for('blog.show_category', category_id=category.id) }}" style="width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                            {{ category.name }}
                        </a></span>

                    </h4>
              </div>
              {% endfor %}
          </div>

      </div>
  </div>

{% endif %}

{% if tags %}
  <div class="ibox">

      <div class="ibox-title">
       <a class="layui-code-h3 h5"> <i class="fa fa-tags">&nbsp;</i><span>标&nbsp;签</span></a>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    {% if  user_info.is_login %}
                    <a href="#" data-toggle="modal" data-target="#addTag">添加分类</a>
                    {%endif%}
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
      <div class="modal inmodal" id="addTag" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
              <div class="modal-content animated fadeIn">
                  <div class="modal-body">
                      <form role="form" method="post" action="{{url_for('blog.add_tag')}}" enctype="multipart/form-data">
			      {{form.csrf_token}}
                        <div class="form-group">
                            <label>分类名字</label>
                            <input type="text" name="name" placeholder="请输入……" class="form-control">
                        </div>
                        <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>提交</strong></button>
                    </form>
                </div>
              </div>
          </div>
      </div>
      <div class="ibox-content float-e-margins">
             <div class="row">
            {% for tag in tags %}
              <div class="col-md-6">
                    <h4 class="text-left">
                        <span data-toggle="tooltip" data-placement="left" title=" {{ tag.name }} {{ tag.posts|length }}"><a class="btn  {{navigation| random()}}" href="{{ url_for('blog.show_tag', tag_id=tag.id) }}" style="width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                            {{ tag.name }}
                        </a></span>

                    </h4>
              </div>
            {% endfor %}
             </div>
      </div>
  </div>

{% endif %}

<div class="ibox">
  <div class="ibox-title">
                   <a class="layui-code-h3 h5"> <i class="fa fa-link">&nbsp;</i><span>友情链接</span></a>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>


                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
  <div class="ibox-content float-e-margins">
         <div class="row">
             {%for item in  user_info.friend_link%}
          <div class="col-md-6">
                  <span data-toggle="tooltip" data-placement="left" title="{{item.title}}" >
                      <small class="text-muted">
                          <a style="width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="" href="{{item.link}}" target="_blank">{{item.name}}</a>
                      </small>
                  </span>
          </div>
             {%endfor%}

         </div>
  </div>
</div>


<div class="ibox">
      <div class="ibox-title">
                       <a class="layui-code-h3 h5"> <i class="fa fa-tachometer">&nbsp;</i><span>系统公告</span></a>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
      <div class="ibox-content">
            <div>
                <div class="feed-activity-list">
                    {%for item in user_info.system_upgrade%}
                    <div class="feed-element">
                        <div class="media-body ">
                            <strong>系统<small>{{item.version}}</small>：</strong>{{item.content}}
                            <strong><small><a href="{{item.link}}">详情查看</a></small></strong><br>
                            <small class="text-muted">{{item.time}}发布</small>
                        </div>
                    </div>
                    {%endfor%}
                </div>

<!--                                            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> 加载更多</button>-->
                                        </div>
      </div>
  </div>

{%block script%}
<script type="text/javascript">


            </script>
{% endblock%}
