{% extends "base.html" %}
{% block title%}文章{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    {{ self.pheader() }}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>文章</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">主页</a>
                </li>
                <li class="breadcrumb-item">
                    <a>应用</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>文章</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="float-right">
                        <button class="btn btn-outline btn-primary  dim " type="button"><i class="fa fa-star"></i></button>
                        <button class="btn btn-outline btn-danger  dim " type="button"><i class="fa fa-heart"></i></button>
                        <button class="btn btn-outline btn-success  dim " type="button"><i class="fa fa-share-alt"></i></button>
                    </div>
                    <div class="article-title">

                        <h1 class="text-center">
                            {{ post.title }}
                        </h1>
                        <span class="text-muted"><i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{ moment(post.timestamp).format('LLL')}}</span>
                    </div>

                    {{post.body|safe}}
                    <div class="row">
                        <div class="col-md-6">
                            <h4>标签</h4>
                                <button class="btn btn-white btn-xs" type="button"><a href="{{ url_for('.show_category', category_id=post.category.id) }}">{{ post.category.name }}</a></button>
                        </div>
                        <div class="col-md-6">

                            <div class="small text-right">
                                <div>
                                        <h4>统计</h4>
                                        <i class="fa fa-comments-o"> </i>
                                        <a href="{{ url_for('blog.show_post', post_id=post.id) }}#comments">{{ post.comments|length}} 评论 </a>&nbsp;&nbsp;
                                        <i class="fa fa-eye"> </i> 144 浏览 &nbsp;&nbsp;
                                        <i class="fa fa-thumbs-up"> </i>
                                        <a href="#"> 23 点赞 </a>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <h2>评论:</h2>
                            {% if comments %}
                            {% for comment in comments %}
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="" class="float-left">
                                        <img alt="image" src="{{url_for('static',filename='img/a7.jpg')}}">
                                    </a>
                                    <div class="media-body">
                                        <a href="{% if comment.site %}{{ comment.site }}{% else %}#{% endif %}" target="_blank">
                                             {% if comment.from_admin %}
                                                {{ admin.name }}
                                            {% else %}
                                                {{ comment.author }}
                                            {% endif %}
                                        </a>
                                        {% if comment.from_admin %}
                                            <span class="badge badge-primary">Author</span>{% endif %}
                                        {% if comment.replied %}<span class="badge badge-light">Reply</span>{% endif %}
                                        <small class="text-muted" data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ moment(comment.timestamp).fromNow() }}</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    {% if comment.replied %}
                                    <p class="alert alert-dark reply-body">{{ comment.replied.author }}:
                                        <br>{{ comment.replied.body }}
                                    </p>
                                    {%- endif -%}
                                    <p>
                                        {{ comment.body }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="ibox ">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>请输入以下信息发表您的评论</p>
                                            <form role="form">
                                                <div class="form-group"><label>电子邮件</label> <input type="text" placeholder="输入你的昵称" name="author" class="form-control"></div>
                                                <div class="form-group"><label>密码</label> <input type="email" placeholder="输入你的邮箱" name="email" class="form-control"></div>
                                                <div class="form-group"><label>评论</label> <input type="text" placeholder="输入你的网址" name="site" class="form-control"></div>
                                                 <div class="form-group"><label>评论</label>
                                                    <textarea class="form-control" id="body" name="body" required=""></textarea>
                                                 </div>
                                                <div>
                                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>发表</strong></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
         <div class="col-lg-3">
        {% include '_blog_sidebar.html' %}
             </div>
    </div>


</div>
 {{ self.footer() }}

</div>
{% endblock %}
{% block script %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.locale('zh-cn')}}
{% endblock %}
