{% extends "base.html" %}
{% block title%}{{ post.title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/plugins/chosen/bootstrap-chosen.css')}}">
<!-- editor.md-->
<link rel="stylesheet" href="{{url_for('static',filename='editormd/css/editormd.css')}}">
{% endblock %}

{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    {{ self.pheader() }}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <br>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{url_for('admin.index')}}">主页</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>文章</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-title">

                    <h1 class="text-center">
                            {{ post.title }}
                    </h1>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" x-placement="bottom-start" style="position: absolute; top: 17px; left: 26px; will-change: top, left;">
                            <li><a href="{{url_for('blog.code_editor',post_id=post.id)}}" class="dropdown-item">编辑文章</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="row text-center">

                                <div class="col-md-2">
                                    <label>分类：</label>
                                    <button class="btn btn-white btn-xs" type="button"><a href="{{ url_for('.show_category', category_id=post.category.id) }}">{{ post.category.name }}</a></button>
                                </div>
                        <div class="col-md-5">
                            <label>标签：</label>
                             {% for tag in tag_list %}
                            <button class="btn btn-white btn-xs" type="button"><a href="{{ url_for('.show_tag', tag_id=tag.tag_id) }}">{{ tag.name }}</a></button>
                            {% endfor %}
                                </div>
                        <span class="col-md-3 text-muted"><i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{ moment(post.timestamp).format('LLL')}}</span>
                        <div class="col-md-2 align-right">
                            <label>作者：</label>{{post.author}}
                        </div>

                        </div>
                </div>
                <div class="ibox-content">


                    <div id="doc-content">
                        <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;">{{post.body_md}}
                        </textarea>
                        <label for="my-editormd-html-code"></label><textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="h6 text-right">
                                <div name="{{post.id}}">

                                        <i class="fa fa-comments-o"> </i>
                                        <a href="#comment">{{ post.comments|length}} 评论 </a>&nbsp;&nbsp;
                                        <i class="fa fa-eye read"> </i><a href="#"> {{post.read_count}} 浏览 </a>&nbsp;&nbsp;
                                        <i class="fa fa-thumbs-up"> </i>
                                        <a onclick="like_(this)"><span class="like">{{post.like_count}}</span>  点赞 </a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h2 class="text-left">评论:
                        {% if not user_info.is_login %}
                        <small>请<a href="{{url_for('user.login')}}">登录</a>发表评论</small>
                        {%else%}
                        {%endif%}
                    </h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="comment">
                    <div class="row">
                            <div class="col-lg-12">
                                    {% if comments %}
                                    {% for comment in comments %}
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="" class="float-left">
                                                <img alt="image" src="{{url_for('static',filename='img/a7.jpg')}}">
                                            </a>
                                            <div class="media-body">
                                                <a href="{% if comment.site %}{{ comment.site }}{% else %}#{% endif %}" target="_blank">
                                                     {% if comment.from_admin %}
                                                        {{ admin.name }}
                                                    {% else %}
                                                        {{ comment.author }}
                                                    {% endif %}
                                                </a>
                                                {% if comment.from_admin %}
                                                    <span class="badge badge-primary">Author</span>{% endif %}
                                                {% if comment.replied %}<span class="badge badge-light">Reply</span>{% endif %}
                                                <small class="text-muted" data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ moment(comment.timestamp).fromNow() }}</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            {% if comment.replied %}
                                            <p class="alert alert-dark reply-body">{{ comment.replied.author }}:
                                                <br>{{ comment.replied.body }}
                                            </p>
                                            {%- endif -%}
                                            <p>
                                                {{ comment.body }}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">

                            <p>请输入以下信息发表您的评论</p>
                            <form role="form">
                                <div class="form-group"><label>电子邮件</label> <input type="text" placeholder="输入你的昵称" name="author" class="form-control"></div>
                                <div class="form-group"><label>密码</label> <input type="email" placeholder="输入你的邮箱" name="email" class="form-control"></div>
                                <div class="form-group"><label>评论</label> <input type="text" placeholder="输入你的网址" name="site" class="form-control"></div>
                                 <div class="form-group"><label>评论</label>
                                    <textarea class="form-control" id="body" name="body" required=""></textarea>
                                 </div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>发表</strong></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-3">
        {% include '_blog_sidebar.html' %}
             </div>
    </div>


</div>
 {{ self.footer() }}

</div>
{% endblock %}
{% block script %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.locale('zh-cn')}}
<!-- 预览时需要引入marked.js，否则报错 [ ReferenceError: marked is not defined ] -->
<script src="{{url_for('static',filename='editormd/lib/marked.min.js')}}"></script>
<!-- 预览时需要引入prettify.js，否则报错 [ ReferenceError: prettyPrint is not defined ] -->
<script src="{{url_for('static',filename='editormd/lib/prettify.min.js')}}"></script>
<script src="{{url_for('static',filename='editormd/lib/flowchart.min.js')}}"></script>
<script src="{{url_for('static',filename='editormd/editormd.min.js')}}"></script>
<script type="text/javascript">
    function like_($this) {
        let like_num = $this.children[0].innerHTML
        let new_like_count = 0
        if (like_num === "None") {
            new_like_count = new_like_count + 1
        } else {
            new_like_count = parseInt(like_num)
            new_like_count = new_like_count + 1
        }
        $this.children[0].innerHTML = new_like_count
        let post_id = parseInt($this.parentNode.getAttribute("name"))
        let update_data = {"status": "like", "like_count": new_like_count, "post_id": post_id}

        $.ajax({
            type: "PUT",
            url: "{{url_for('blog.put_post_')}}",
            data: JSON.stringify(update_data),
            contentType: 'application/json;charset=utf-8',//请求数据类型必须有
            dataType: "json",
            async: true,//异步
            success: function (res) {console.log(res)}
        });
    }
    $(function () {

         var htmlContent= {{post.body_html|tojson }}
         // document.getElementById("my-content").innerHTML= rulemodeid
        $("#doc-content").addClass("markdown-body editormd-html-preview").append(htmlContent)

         // var testEditor
         // testEditor= editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
         //
         //     htmlDecode: "style,script,iframe",
         //     tocm: true,
         //     emoji: true,
         //     taskList: true,
         //     tex: true, // 默认不解析
         //     flowChart: true, // 默认不解析
         //     sequenceDiagram: true, // 默认不解析
         //     codeFold: true,
         // })
         //  console.log("返回一个 jQuery 实例 =>", testEditor);
    })

</script>
{% endblock %}
