{% extends "base.html" %}
{% block title %}收藏网站{% endblock %}
{% block head%}
<link href="{{url_for('static',filename='css/plugins/cropper/cropper.min.css')}}" rel="stylesheet">
<style>
        /* 设置裁剪区域的样式 */
        .cropper-box {
          width: 250px;
          height: 250px;
          background-color: gray;
          overflow: hidden;
            margin-left: 120px;
        }

        /* 设置第一个预览区域的样式 */
        .w100 {
          width: 100px;
          height: 100px;
          background-color: gray;
        }

        /* 设置预览区域下方文本的样式 */
        .size {
          font-size: 12px;
          color: gray;
          text-align: center;
        }

        /* 设置 preview-box 区域的的样式 */
        .preview-box {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;
        }

        /* 设置 img-preview 区域的样式 */
        .img-preview {
          overflow: hidden;
          border-radius: 50%;
        }


</style>
{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
{{self.pheader()}}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>收藏网站</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{url_for('admin.index')}}">主页</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>个人收藏网站</strong>
                </li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <button class="btn btn-sm btn-primary " type="button"><i class="fa fa-plus"></i>
                             <a data-toggle="modal" class="btn btn-primary" href="#modal-form">&nbsp;&nbsp;添加</a></button>
                    <span class="text-muted small float-right">更新时间: <i class="fa fa-clock-o"></i> 2017.12.12 2:10</span>


                    <div class="clients-list">



                        <span class="float-right small text-muted">1406 信息</span>
                    <ul class="nav nav-tabs">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-2"><i class="fa fa-group"></i> 大神博客</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-1"><i class="fa fa-etsy"></i> 英语</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-folder"></i> PPT模板</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-book"></i> 电子书</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-exchange"></i> 格式转换</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-film"></i> 视频处理</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-music"></i> 音频处理</a></li>
                    </ul>
                        <div id="modal-form" class="modal fade" aria-hidden="true">
                                <div class="modal-dialog modal-lg" style="width: 1100px">
                                    <div class="modal-content modal-lg">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <form method="get">


                                                        <div class="form-group  row">
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">网址名称</label>

                                                            <div class="col-sm-3"><input type="text" class="form-control"></div>
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">网站描述</label>
                                                            <div class="col-sm-5"><input type="text" class="form-control"> <small class="form-text m-b-none">描述网站的作用、功能等</small>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">推荐星级</label>

                                                            <div class="col-sm-3">
                                                                <select class="form-control m-b" name="account">
                                                                    <option>星级 1</option>
                                                                    <option>星级 2</option>
                                                                    <option>星级 3</option>
                                                                    <option>星级 4</option>
                                                                    <option>星级 5</option>
                                                                </select>
                                                            </div>
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">贡献者</label>

                                                            <div class="col-sm-5">
                                                                <input type="text" placeholder="用户名" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">网址</label>

                                                            <div class="col-sm-10">
                                                                <input type="text" placeholder="例如：https://www.baidu.com" class="form-control">
                                                            </div>
                                                        </div>


                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label" style="text-align: center">头像</label>
                                                        </div>
                                                        <div class="form-group row">
                                                                <div class="cropper-box">
                                                                    <img id="image"  crossorigin="anonymous">
                                                                </div>

                                                                 <div class="preview-box">
                                                                     <h4>预览图像</h4>
                                                                <!-- 图片的预览区域 -->
                                                                     <div>
                                                                          <!-- 宽高为 100px 的预览区域 -->
                                                                          <div class="img-preview w100"></div>
                                                                          <p class="size">100 x 100</p>
                                                                     </div>
                                                                     <div class="ibox-content">
                                                                    <label title="上传" for="inputImage" class="btn btn-white" style="border-style: none">
                                                                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                                                    </label>
                                                                </div>
                                                                 </div>


                                                        </div>


                                                        <div class="form-group row">
                                                            <div class="col-sm-10"></div>
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-primary btn-sm" type="submit">保存更改</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                                <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                                <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                                <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                                <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                                <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="profile.html">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{url_for('static',filename='img/a4.jpg')}}">
                                        <div class="m-t-xs font-bold">百度</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3><strong>小红</strong></h3>
                                    <p> 中国.北京 123/123</p>
                                    <address>
                                        <strong>企鹅公司</strong><br>
                                        北京市朝阳区某区某街道<br>
                                        企鹅 100000 <br>
                                        手机 18900000000 <br>
                                        邮编 100020 <br>
                                    </address>
                                </div>
                                </a>
                            </div>
                        </div>
                             


                            </div>
                        </div>
                        <div id="tab-0" class="tab-pane">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width:10%">头像</th>
                                                <th style="width:17%">网站名称</th>
                                                <th style="width:20%">网址</th>
                                                <th style="width:20%">网站描述</th>
                                                <th style="width:15%">推荐星级</th>
                                                <th style="width:18%">贡献者</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td class="client-avatar"><a href=""><img alt="image" src="{{url_for('static',filename='img/a4.jpg')}}" style="width: 80px;height: 80px"></a> </td>
                                            <td><a href="#contact-2" class="client-link">百度地址</a></td>
                                            <td> https://www.baidu.com</td>
                                            <td >亚洲最大搜索门户类网站</td>
                                            <td>⭐⭐⭐⭐⭐⭐ </td>
                                            <td><i class="fa fa-group">&nbsp;&nbsp;张三</i></td>
                                        </tr>
                                        <tr>
                                            <td class="client-avatar"><a href=""><img alt="image" src="{{url_for('static',filename='img/a4.jpg')}}" style="width: 80px;height: 80px"></a> </td>
                                            <td><a href="#contact-2" class="client-link">百度地址</a></td>
                                            <td> https://www.baidu.com/asdasdq/asdqwefasd</td>
                                            <td >亚洲最大搜索门户类网站,ajdiujqonaosicoajwionawdjoasd</td>
                                            <td>⭐⭐⭐</td>
                                            <td><i class="fa fa-group">&nbsp;&nbsp;adsoijqojoddjqowndkajc</i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司-点我右边显示详情</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司-点我右边显示详情</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link">企鹅公司-点我右边显示详情</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-warning">等候</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link"> 企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-warning">等候</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link"> 企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a  href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-1" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-warning">等候</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-3" class="client-link"> 企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#company-2" class="client-link">企鹅公司</a></td>
                                            <td>小明</td>
                                            <td><i class="fa fa-flag"></i> 北京</td>
                                            <td class="client-status"><span class="label label-primary">操作</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{self.footer()}}

</div>
{% endblock%}
{%block script%}
<!-- Image cropper -->
    <script src="{{url_for('static',filename='js/plugins/cropper/cropper.min.js')}}"></script>
<script>

    $(document).ready(function(){
        $("#three").addClass("active")
        $(document.body).on("click",".client-link",function(e){
            e.preventDefault()
            $(".selected .tab-pane").removeClass('active');
            $($(this).attr('href')).addClass("active");
        });
        var $image = $("#image")

                var $cropped = $($image).cropper({
                aspectRatio: 1,
                preview: ".img-preview",
                done: function(data) {
                    // Output the result data for cropping image.
                }
            });


                var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                            files = this.files,
                            file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.html(file.name);
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("请选择一个图像文件。");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

    });


</script>
{% endblock%}