{% extends "base.html" %}
{% block title %}忘记密码{% endblock %}
{%block body%}

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">忘记密码</h2>

                    <p>
                        输入您的电子邮件地址，您的密码将重置并通过电子邮件发送给您邮件账户。
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="{{url_for('user.forget_password')}}" method="post">
                                {{form.csrf_token}}
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="电子邮件地址" required="" name="email">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">发送新密码</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

    </div>
{{self.footer()}}
</body>

{% endblock %}
