{% extends "base.html" %}
{% block title %}上传文件{% endblock %}
{% block head %}
<!--    <link href="{{url_for('static',filename='css/plugins/dropzone/basic.css')}}" rel="stylesheet">-->
<!--    <link href="{{url_for('static',filename='css/plugins/dropzone/dropzone.css')}}" rel="stylesheet">-->
    <link href="{{url_for('static',filename='css/plugins/jasny/jasny-bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/plugins/codemirror/codemirror.css')}}" rel="stylesheet">
{% endblock %}
{% block wrapper%}
        <div id="page-wrapper" class="gray-bg">
            {{self.pheader()}}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>上传文件</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{url_for('admin.index')}}">主页</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>表单</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>上传文件</strong>
                        </li>
                    </ol>
                </div>

            </div>
            <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>输入组示例</h5>
                        </div>
                        <div class="ibox-content">
                            <form method="get">
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">数据类型</label>
                                        <div class="col-lg-6">
                                            <select class="form-control m-b" name="account">
                                                <option >收支表</option>
                                                <option>博客</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="custom-file">
                                        <input id="logo" type="file" class="custom-file-input">
                                        <label for="logo" class="custom-file-label">选择文件...</label>

                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="col-lg-8">
                                            <button class="btn btn-sm btn-primary col-lg-4" type="submit"><strong>保存</strong></button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{self.footer()}}

        </div>
{% endblock %}
{%block script%}
    <!-- Jasny -->
    <script src="{{url_for('static',filename='js/plugins/jasny/jasny-bootstrap.min.js')}}"></script>

    <!-- DROPZONE -->
<!--    <script src="{{url_for('static',filename='js/plugins/dropzone/dropzone.js')}}"></script>-->

    <!-- CodeMirror -->
    <script src="{{url_for('static',filename='js/plugins/codemirror/codemirror.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins/codemirror/mode/xml/xml.js')}}"></script>


    <script>
        $(document).ready(function(){
            $('.custom-file-input').on('change', function() {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });

       });
    </script>
{% endblock %}
