{% extends "base.html" %}
{% block title %}数据分析表{% endblock %}
{% block head %}

    <!-- orris -->
    <link href="{{url_for('static',filename='css/plugins/morris/morris-0.4.3.min.css')}}" rel="stylesheet">
{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    {{self.pheader()}}
     <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Morris.js 图表</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">主页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>图表</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Morris.js 图表</strong>
                    </li>
                </ol>
            </div>

        </div>
    <div class="wrapper wrapper-content animated fadeInRight" >
        <div class="row">
            <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>区域图 <small>具有自定义颜色</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">选项 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="position: relative">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>条形图 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">选项 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>线图 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#" class="dropdown-item">选项 1</a>
                                </li>
                                <li><a href="#" class="dropdown-item">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-line-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>甜甜圈图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#" class="dropdown-item">选项 1</a>
                                </li>
                                <li><a href="#" class="dropdown-item">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-chart" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>简单一行 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#" class="dropdown-item">选项 1</a>
                                </li>
                                <li><a href="#" class="dropdown-item">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-one-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {{self.footer()}}

</div>
{% endblock%}
{%block script%}

    <!-- Morris -->
    <script src="{{url_for('static',filename='js/plugins/morris/raphael-2.1.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins/morris/morris.js')}}"></script>


    <!-- Morris demo data-->
    <script src="{{url_for('static',filename='js/demo/morris-demo.js')}}"></script>
{% endblock%}
