{% extends "base.html" %}
{% block title %}数据分析表{% endblock %}
{% block head %}
<link href="{{url_for('static',filename='layui/css/layui.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='layui/css/modules/code.css')}}" rel="stylesheet">
{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    {{self.pheader()}}
    <div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 10px">
        <div class="col-lg-10">
            <h2>数据分析</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{url_for('admin.index')}}">主页</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>echart分析</strong>
                </li>
            </ol>

        </div>
        <div class="col-lg-2">
            <div style="padding-top: 15px">

                <h2><strong>

            <input type="text" style="border-style: none; width: 60px" id="year_select">年

                </strong></h2><small style="color: darkgrey">数据日期</small>

            </div>

        </div>

    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>2021年Top5消费类型折线图</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="close-link" href="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <div id="main4" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>2021年Top5商品支付次数</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="close-link" href="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <div id="main5" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>消费总计</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="close-link" href="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                  <div id="main2" style="height: 500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>消费类型总计</h5>
                        <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="close-link" href="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    </div>
                    <div class="ibox-content">
                     <div id="main3" style="height: 520px"></div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>存储</h5>
                    <h2 class="no-margins">￥{{storage}}</h2>
                    <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>上个月支出</h5>
                    <h2 class="no-margins">￥{{expand}}</h2>
                    <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>支出费用最高的类型</h5>
                     <h2 class="no-margins">{{high_money.count_type_s}}</h2>
                    <div class="stat-percent font-bold text-danger">{{high_money.money}}元 <i class="fa fa-level-down"></i></div>



                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>支出次数最高的类型</h5>
                    <h2 class="no-margins">{{high_count.count_type_s}}</h2>
                    <div class="stat-percent font-bold text-danger">{{high_count.total}}次 <i class="fa fa-level-down"></i></div>

                </div>
            </div>
        </div>





        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>收入支出比</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="close-link" href="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="main" style="height: 1000px"></div>
                </div>
            </div>
        </div>




    </div>
    </div>
    {{self.footer()}}
</div>
{% endblock%}
{%block script%}
<script src="{{url_for('static',filename='js/echarts.js')}}"></script>
<script src="{{url_for('static',filename='layui/layui.js')}}"></script>
<script type="text/javascript">
    // SKIN Select
        $('.spin-icon').click(function () {
            $(".theme-config-box").toggleClass("show");
        });
    let now = new Date();
    year_select.value=new Date().getFullYear();

   $(function (){
        var chartsArr=[];
        //菜单栏点击状态
        $("#income a").click()
        $("#nine").addClass('active')

       layui.use('laydate', function(){
           var laydate = layui.laydate;
           //年选择器
          laydate.render({
            elem: '#year_select'
            ,type: 'year'
              ,theme:'#393D49'
          });
       })

       // 每个月的收入支出比
        let chartDom1 = document.getElementById('main');
        let myChart1 = echarts.init(chartDom1, 'dark');
        let option1;
        let myDate = new Date();
        let rate =  JSON.parse({{income_rate | tojson}})
        option1 = {
            title:{
                text:myDate.getFullYear()+'年收入支出比'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['存储', '支出', '收入']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'value'
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    axisTick: {
                        show: false
                    },
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                }
            ],
            dataZoom: [
                    {
                        type: 'slider',
                        show: true,
                        yAxisIndex: [0,3],
                        left: '93%',
                        start: 1,
                        end: 45
                    },
                ],
            series: [
                {
                    name: '存储',
                    type: 'bar',
                    label: {
                        show: true,
                        position: 'inside'
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data:rate['存储']
                },
                {
                    name: '收入',
                    type: 'bar',
                    label: {
                        show: true
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: rate['收入']
                },
                {
                    name: '支出',
                    type: 'bar',
                    label: {
                        show: true,
                        position: 'left'
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: rate['支出']
                }
            ]
        };

        option1 && myChart1.setOption(option1);
        //消费类型
       $.ajax({
                type: "GET",
                url: "{{url_for('admin.chart_type')}}",
                contentType: 'application/json;charset=utf-8',//请求数据类型必须有
                dataType: "json",
                async: true,//异步
                success: function(res) {
                    // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
                    expense_type(res['consume_type'])
                    top5_type(res['top5_type'])
                    top5_count(res['top5_count'])
                    each_month(res['consume'],res['consume_count'])

                }
            });

       //每个月的
        function each_month(consume,consume_count) {
            let chartDom = document.getElementById('main2');
            let myChart = echarts.init(chartDom, 'dark');
            let option;

            let dataMap = {};
            function dataFormatter(obj) {
            let pList = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'];
            let temp;
            for (let year = 2018; year <= 2023; year++) {
                let max = 0;
                let sum = 0;
                temp = obj[year];
                for (let i = 0, l = temp.length; i < l; i++) {
                    max = Math.max(max, temp[i]);
                    sum += temp[i];
                    obj[year][i] = {
                        name : pList[i],
                        value : temp[i]
                    }
                }
                obj[year + 'max'] = Math.floor(max / 100) * 100;
                obj[year + 'sum'] = sum;
            }
            return obj;
        }
        dataMap.databar = dataFormatter(consume);
        dataMap.dataline = dataFormatter(consume_count);


        option = {
            baseOption: {
            timeline: {
                axisType: 'category',
                autoPlay: true,
                playInterval: 1000,
                data: [
                    '2018-01-01','2019-01-01','2020-01-01',
                    {
                        value: '2021-01-01',
                        tooltip: {
                            formatter: '{b} 达到自己的目标'
                        },
                        symbol: 'diamond',
                        symbolSize: 16
                    },
                    '2022-01-01', '2023-01-01'
                ],
                label: {
                    formatter : function(s) {
                        return (new Date(s)).getFullYear();
                    }
                }
            },
            title: {
                subtext: '数据来自真实案例'
            },
            legend: {
                left: 'center',
                top:20,
                data: ['金额', '次数'],
            },
            calculable : true,
            grid: {
                top: 80,
                bottom: 100
            },
            xAxis: [
                {
                    'type':'category',
                    'axisLabel':{'interval':0},
                    'data':[
                        '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'
                    ],
                    splitLine: {show: false}
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额（元）',
                    // max: 53500
                    max: 3600,
                    interval: 300
                },
                {
                    type: 'value',
                    name: '次数',
                    position:'right',
                    // max: 53500
                    max: 120,
                    interval: 10
                }
            ],
            series: [
                {
                    name: '金额',
                    type: 'bar',
                    encode: { x: 'name', y: 'score' },
                    datasetIndex: 1,
                    label: {
                    normal: {
                        show: true,
                        position: 'top'
                    },
                    formatter: '{@value}'
                            }
                },
                {
                    name: '次数',
                    type: 'line',
                    encode: { x: 'name', y: 'score' },
                    datasetIndex: 1,
                    label: {
                    normal: {
                        show: true,
                        position: 'top'
                    },
                    formatter: '{@value}'
                            },
                    yAxisIndex: 1},
            ]
        },

        options:[
            {
            title: {text: '2018年个人支出分析'},
            series: [
                {data: dataMap.databar['2018']},
                {data: dataMap.dataline['2018']},
            ]
        },
            {
            title: {text: '2019年个人支出分析'},
            series: [
                {data: dataMap.databar['2019']},
                {data: dataMap.dataline['2019']},
            ]
        },
            {
            title: {text: '2020年个人支出分析'},
            series: [
                {data: dataMap.databar['2020']},
                {data: dataMap.dataline['2020']},
            ]
        },
            {
            title: {text: '2021年个人支出分析'},
            series: [
                {data: dataMap.databar['2021']},
                {data: dataMap.dataline['2021']},
            ]
        },
            {
            title: {text: '2022年个人支出分析'},
            series: [
                {data: dataMap.databar['2022']},
                {data: dataMap.dataline['2022']},
            ]
        },
            {
            title: {text: '2023年个人支出分析'},
            series: [
                {data: dataMap.databar['2023']},
                {data: dataMap.dataline['2023']},
            ]
        },
        ],
        };

        option && myChart.setOption(option);
        }



       function expense_type(count_type) {
           let chartDom2 = document.getElementById('main3');
           let myChart3 = echarts.init(chartDom2, 'dark');
           let option3;

        let dataMap2 = {};
        function dataFormatter2(obj) {
            let pList = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'];
            let temp;
            for (let year = 2018; year <= 2023; year++) {
                let max = 0;
                let sum = 0;
                temp = obj[year];
                for (var i = 0, l = temp.length; i < l; i++) {
                    max = Math.max(max, temp[i]);
                    sum += temp[i];
                    obj[year][i] = {
                        name : pList[i],
                        value : temp[i]
                    }
                }
                obj[year + 'max'] = Math.floor(max / 100) * 100;
                obj[year + 'sum'] = sum;
            }
            return obj;
        }

        dataMap2.databar1 = dataFormatter2(count_type['餐饮']);
        dataMap2.databar2 = dataFormatter2(count_type['购物']);
        dataMap2.databar3 = dataFormatter2(count_type['交通']);
        dataMap2.databar4 = dataFormatter2(count_type['通讯']);
        dataMap2.databar5 = dataFormatter2(count_type['非必需品']);
        dataMap2.databar6 = dataFormatter2(count_type['生活']);
        dataMap2.databar7 = dataFormatter2(count_type['家人/朋友']);
        // dataMap2.databar8 = dataFormatter2(count_type['家人/朋友']);
        // dataMap2.databar9 = dataFormatter2(count_type['第三方平台']);
        // dataMap2.databar10 = dataFormatter2(count_type['家人/朋友']);



        option3 = {
            baseOption: {
                timeline: {
                    axisType: 'category',
                    autoPlay: true,
                    playInterval: 1000,
                    data: [
                        '2018-01-01','2019-01-01','2020-01-01',
                        {
                            value: '2021-01-01',
                            tooltip: {
                                formatter: '{b} 达到自己的目标'
                            },
                            symbol: 'diamond',
                            symbolSize: 16
                        },
                        '2022-01-01', '2023-01-01'
                    ],
                    label: {
                        formatter : function(s) {
                            return (new Date(s)).getFullYear();
                        }
                    }
                },
                title: {
                    subtext: '数据来自真实案例'
                },
                tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // Use axis to trigger tooltip
                            type: 'shadow'        // 'shadow' as default; can also be 'line' or 'shadow'
                        }
                    },
                legend: {
                    data: ['餐饮', '女朋友', '购物', '交通', '学习', '娱乐', '生活', '通讯', '第三方平台', '家人/朋友'],
                    left:'center',
                    top:20
                        },

                grid: {
                     top: 80,
                     bottom: 90
                },
                xAxis: [
                    {
                         type: 'value',
                      
                    }
                ],
                yAxis: [
                    {
                       type: 'category',
                    data: [ '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                    },],
                },
            options:[
            {
                title: {text: '2018年类别分析'},
                series: [
                    {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2018']},
                    {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2018']},
                    {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2018']},
                    {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2018']},
                    {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2018']},
                    {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2018']},
                    {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2018']},
                    // {name: '学习', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar8['2018']},
                    // {name: 'Video Ad', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar9['2018']},
                    // {name: 'Video Ad', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar10['2018']},
            ]
        },
            {
            title: {text: '2019年类别分析'},
            series: [
               {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2019']},
                {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2019']},
                {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2019']},
                {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2019']},
                {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2019']},
                {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2019']},
                {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2019']},
            ]
        },
            {
            title: {text: '2020年类别分析'},
            series: [
               {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2020']},
                {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2020']},
                {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2020']},
                {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2020']},
                {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2020']},
                {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2020']},
                {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2020']},
            ]
        },
            {
            title: {text: '2021年类别分析'},
            series: [
               {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2021']},
                    {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2021']},
                    {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2021']},
                    {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2021']},
                    {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2021']},
                    {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2021']},
                    {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2021']},
            ]
        },
            {
            title: {text: '2022年类别分析'},
            series: [
                {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2022']},
                    {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2022']},
                    {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2022']},
                    {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2022']},
                    {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2022']},
                    {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2022']},
                    {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2022']},
            ]
        },
            {
            title: {text: '2023年类别分析'},
            series: [
               {name: '餐饮', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar1['2023']},
                {name: '购物', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar2['2023']},
                {name: '交通', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar3['2023']},
                {name: '通讯', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar4['2023']},
                {name: '非必需品', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar5['2023']},
                {name: '生活', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar6['2023']},
                {name: '家人/朋友', type: 'bar', stack: 'total', label: {show: true}, emphasis: {focus: 'series'}, data: dataMap2.databar7['2023']},
            ]
        },
        ],
        };

        option3 && myChart3.setOption(option3);
        chartsArr.push(myChart3)

       }


        // top3的费用情况
       function top5_type(res) {
                let series = []
                let chartDom4 = document.getElementById('main4');
                let myChart4 = echarts.init(chartDom4, 'dark');
                let option4;


                for(let key in res){
                    series.push({
                        name: key,
                        type: 'line',
                        stack: '总量',
                        radius: '80%',
                        data: res[key]
                    });
                }

                option4 = {
                tooltip: {
                trigger: 'axis'
                },
                legend: {
                data: ['餐饮', '女朋友', '购物', '交通', '学习', '娱乐', '生活', '通讯', '第三方平台', '家人/朋友']
                },
                grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
                },
                toolbox: {
                feature: {
                    saveAsImage: {}
                }
                },
                xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [ '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                },
                yAxis: {
                type: 'value'
                },
                    dataZoom: [
                    {
                        type: 'slider',
                        show: true,
                        xAxisIndex: [0,3],
                        left: 'center',
                        start: 1,
                        bottom:10,
                        end: 75
                    },
                ],
                series: series
                };

                option4 && myChart4.setOption(option4);
                // 当页面发生变化的时候，重新修改echart图表的大小
               chartsArr.push(myChart4)
       }

           function top5_count(res) {
                //top3
                let chartDom5 = document.getElementById('main5');
                let myChart5 = echarts.init(chartDom5, 'dark');
                let option5;

                option5 = {

                tooltip: {
                trigger: 'item'
                },
                legend: {
                top: '5%',
                orient: 'vertical',
                left: 'right'
                },
                series: [
                {
                name: '访问来源',
                type: 'pie',
                radius: '70%',
                data: res,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
                }
                ]
                };

                option5 && myChart5.setOption(option5);

                // 当页面发生变化的时候，重新修改echart图表的大小
               chartsArr.push(myChart5)

           }

          chartsArr.push(myChart1);
          chartsArr.push(myChart);
           window.onresize=function(){
              for(var i=0;i<chartsArr.length;i++){
                  chartsArr[i].resize();
                  }
           }
        })



</script>
{% endblock%}
