{% extends "base.html" %}
{% block title%}首页{% endblock%}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    <!--            base的主内容-->
    {{ self.pheader() }}
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> 今日天气 </span>
                            <h2 class="font-bold">26'C</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> 新消息 </span>
                            <h2 class="font-bold">260</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> 新专辑 </span>
                            <h2 class="font-bold">12</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> 访问用户 </span>
                            <h2 class="font-bold">216</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h2>最新文章</h2>
                <small>您有42条消息和6条通知。</small>
                <ul class="list-group clear-list m-t">
                    <li class="list-group-item fist-item">
                        <span class="float-right">
                            09:00
                        </span>
                        <span class="label label-success">1</span> 文章1：什么是Python？
                    </li>
                    <li class="list-group-item">
                        <span class="float-right">
                            10:16
                        </span>
                        <span class="label label-info">2</span> 文章2：什么是Mongo？
                    </li>
                    <li class="list-group-item">
                        <span class="float-right">
                            08:22
                        </span>
                        <span class="label label-primary">3</span> 文章3：什么是Mysql？
                    </li>
                    <li class="list-group-item">
                        <span class="float-right">
                            11:06
                        </span>
                        <span class="label label-default">4</span> 文章4：什么是HTML？
                    </li>
                    <li class="list-group-item">
                        <span class="float-right">
                            12:00
                        </span>
                        <span class="label label-primary">5</span> 文章5：什么是CSS？
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>服务器信息</h2>
                <small>更新时间：2021年2月29日</small>
                        <div class="ibox-content">
                            <div>
                                <div>
                                    <span>储存</span>
                                    <small class="float-right">10/200 GB</small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>带宽</span>
                                    <small class="float-right">20 GB</small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width: 50%;" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>活动</span>
                                    <small class="float-right">73%</small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width: 40%;" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>FTP</span>
                                    <small class="float-right">400 GB</small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="col-md-3">
                <div class="statistic-box">
                    <h4>
                        计划项目进度
                    </h4>
                    <p>
                        你有两个项目没有完成任务。
                    </p>
                    <div class="row text-center">

                        <div class="col-lg-6">
                            <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                            <h5>访问来源地</h5>
                        </div>
                        <div class="col-lg-6">
                            <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                            <h5></h5>
                        </div>
                    </div>
                    <div class="m-t">
                        <small>项目未完成描述信息。</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>待完成</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务</p>

                            <div class="input-group">
                                <input type="text" placeholder="添加新任务 " class="input form-control-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> 添加任务</button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="todo">
                                <li class="warning-element" id="task1">
                                    待完成克隆新技术,可以拖动到任意一个盒子
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="success-element" id="task2">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="info-element" id="task3">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="danger-element" id="task4">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-primary">完成</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="warning-element" id="task5">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="warning-element" id="task6">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-primary">完成</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="success-element" id="task7">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="info-element" id="task8">
                                    待完成克隆新技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>进行中</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务</p>
                            <ul class="sortable-list connectList agile-list" id="inprogress">
                                <li class="success-element" id="task9">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="success-element" id="task10">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="warning-element" id="task11">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="warning-element" id="task12">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="info-element" id="task13">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-primary">完成</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="success-element" id="task14">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                                <li class="danger-element" id="task15">
                                    进行中的克隆技术
                                    <div class="agile-detail">
                                        <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                        <i class="fa fa-clock-o"></i> 2017.12.12
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>已完成</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务</p>
                    <ul class="sortable-list connectList agile-list" id="completed">
                        <li class="info-element" id="task16">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="warning-element" id="task17">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="warning-element" id="task18">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="warning-element" id="task19">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-primary">完成</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="success-element" id="task20">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="info-element" id="task21">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="warning-element" id="task22">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标签</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                        <li class="success-element" id="task23">
                            已完成的克隆技术
                            <div class="agile-detail">
                                <a href="#" class="float-right btn btn-xs btn-white">标记</a>
                                <i class="fa fa-clock-o"></i> 2017.12.12
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        </div>
    {{self.footer()}}
</div>
{% endblock%}
{%block script%}
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('inspinia 2.9.2管理者', '欢迎您王宇');

            }, 1300);


            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [70, 27, 85],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-4625583-2', 'webapplayers.com');
        ga('send', 'pageview');

    </script>
{% endblock %}