{% import "_macros.html" as macros %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    <!--            base的主内容-->
    {{ self.pheader() }}
    <div class="wrapper wrapper-content animated fadeInRight blog" id="blog">
    <div class="row justify-content-md-center">

        <div class="col-md-8">
            <div class="ibox">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="height: 380px">
                                <img class="d-block w-100 h-100" src="{{url_for('static',filename='img/pg_big1.jpeg')}}" alt="First slide" >
                                <div class="carousel-caption d-none d-md-block">
                                    <p>还不知道怎么弄，先放这里 1</p>
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 380px">
                                <img class="d-block w-100 h-100" src="{{url_for('static',filename='img/pg_big3.jpeg')}}" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>还不知道怎么弄，先放这里 2</p>
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 380px">
                                <img class="d-block w-100 h-100" src="{{url_for('static',filename='img/pg_big2.jpeg')}}" alt="Third slide" >
                                <div class="carousel-caption d-none d-md-block">
                                    <p>还不知道怎么弄，先放这里 3</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">

                        <div class="nav-header p-lg text-center">
                            <div class="m-b-md" style="color: white">
                            <h2 class="font-bold no-margins" >
                                {{user_info.username}}
                            </h2>
                                <small style="font-size: initial;color: slategray;">{{user_info.role}}</small>
                            </div>
                            {% if user_info.is_login  %}
                            <img src="{{user_info.avatar}}" class="rounded-circle  m-b-md" alt="profile" style="width: 80px;height: 80px;">
                            {% else %}
                            <img alt="image" class="rounded-circle m-b-md" style="width: 80px;height: 80px;"  src="{{url_for('static',filename='img/profile_small.jpg')}}" />
                            {% endif %}
                            <div>
                                <span><a href="#">Star 100</a></span> |
                                <span><a href="#">Fork 350</a></span> |
                                <span><a href="#"><i class="fa fa-email"></i>电子邮件</a></span>
                            </div>
                        </div>
                        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-clock-o modal-icon"></i>
                                            <h4 class="modal-title">添加名人名句</h4>
                                            <small>历史可以明鉴 哲学使人明智</small>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" method="post" action="{{url_for('admin.famous')}}" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>名人姓名</label>
                                                    <input type="text" name="writer" placeholder="请输入……" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>内容</label>
                                                    <input type="text" name="content" placeholder="请输入……" class="form-control">
                                                </div>
                                                <div class="form-group custom-file">
                                                    <input id="logo" type="file" class="custom-file-input" name="file">
                                                    <label for="logo" class="custom-file-label">上传名人头像...</label>
                                                </div>
                                                <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>登录</strong></button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <div class="widget-text-box feed-element">

                            <a class="float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="" id="change_img">
                            </a>
                            <div class="media-body ">
                                <small class="float-right">
                                    <a href="#" id="change_famous"><i class="fa fa-refresh"></i>&nbsp;</a>
                                    {% if  user_info.is_login %}
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></a>
                                    {%endif%}

                                </small>
                                <h4 class="media-heading" id="change_writer"></h4>
                                <strong id="change_content"></strong><br>
                            </div>


                        </div>


            </div>
        </div>



        {% include '_blog.html' %}
    </div>
    </div>
    {{self.footer()}}
</div>
{% endblock%}
{%block script%}

{{ super() }}
{{ moment.include_moment() }}
{{moment.locale('zh-cn')}}

    <script>
        $('.custom-file-input').on('change', function() {
   let fileName = $(this).val().split('\\').pop();
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
});
        $(document).on('click','#change_famous',function(){
            $.ajax({
                    url: "/famous",
                    type: "get",
                    success: function(data){
                        let fixed_path = "/static/file/famous/"+data['data']['avatar']
                        $("#change_writer").html(data['data']['writer']+"：")
                        $("#change_content").html(data['data']['content'])
                        $("#change_img").attr('src',fixed_path);
                    }
                });
        })

        $(document).ready(function () {
            $("#one").addClass("active")
            now = new Date()
            hour = now.getHours()
            let time_message = ''
            if(hour < 6){time_message="凌晨好！"}
            else if (hour < 9){time_message="早上好！"}
            else if (hour < 12){time_message="上午好！"}
            else if (hour < 14){time_message="中午好！"}
            else if (hour < 17){time_message="下午好！"}
            else if (hour < 19){time_message="傍晚好！"}
            else if (hour < 22){time_message="晚上好！"}
            else {time_message="夜里好！"}
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                let name = {{user_info.username|tojson}}
                let small_phrase = {{small_p |tojson}}
                if (!name) {
                    name = ''
                }
                toastr.success(small_phrase, name + '，' +time_message);
            }, 1800);
             $("#change_famous").trigger("click");


        })



    </script>

{% endblock %}