{% extends "base.html" %}
{% block title %}撰写邮件{% endblock %}
{% block head %}

    <link href="{{url_for('static',filename='css/plugins/iCheck/custom.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/plugins/summernote/summernote-bs4.css')}}" rel="stylesheet">
{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">撰写邮件</a>
                        <div class="space-25"></div>
                        <h5>文件夹</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="mailbox.html"> <i class="fa fa-inbox "></i>  收件箱 <span class="label label-warning float-right">16</span> </a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i>发送邮件</a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-certificate"></i>重要邮件</a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i>草稿箱 <span class="label label-danger float-right">2</span></a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i>垃圾箱</a></li>
                        </ul>
                        <h5>分类</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> 工作 </a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> 文件</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-primary"></i> 社会</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-info"></i> 广告</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-warning"></i> 客户端</a></li>
                        </ul>

                        <h5 class="tag-title">标签</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> 家庭</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 工作</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 家庭</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 孩子</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 假期</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 音乐</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 摄影</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> 电影</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">
            <div class="float-right tooltip-demo">
                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="转移到草稿文件夹"><i class="fa fa-pencil"></i> 草稿箱</a>
                <a href="mailbox.html" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="删除电子邮件"><i class="fa fa-times"></i> 删除邮件</a>
            </div>
            <h2>
                发送邮件
            </h2>
        </div>
            <div class="mail-box">


            <div class="mail-body">

                <form method="get">
                    <div class="form-group row"><label class="col-sm-2 col-form-label">发送人:</label>

                        <div class="col-sm-10"><input type="text" class="form-control" value="alex.smith@corporat.com"></div>
                    </div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">标题:</label>

                        <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
                    </div>
                    </form>

            </div>

                <div class="mail-text h-200">

                    <div class="summernote">
                        <h3>美女交个朋友 </h3>
                        “美女你看我们穿的衣服都一样，这就说明我们有缘，既然我们这么有缘不如我们做个朋友吧！”
“滚！哪有男人穿裙子的！”
                        <br/>
                        <br/>

                    </div>
<div class="clearfix"></div>
                    </div>
                <div class="mail-body text-right tooltip-demo">
                    <a href="mailbox.html" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="发送邮件"><i class="fa fa-reply"></i> 发送</a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="放弃邮件"><i class="fa fa-times"></i> 丢弃</a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="转移到草稿文件夹"><i class="fa fa-pencil"></i> 草稿箱</a>
                </div>
                <div class="clearfix"></div>



            </div>
        </div>
    </div>
    </div>
{{self.footer()}}
</div>
{% endblock %}
{%block script%}
    <!-- SUMMERNOTE -->
    <script src="{{url_for('static',filename='js/plugins/summernote/summernote-bs4.js')}}"></script>

    <script>
        $(document).ready(function(){

            $('.summernote').summernote();

        });

    </script>
{% endblock %}
