{% extends "base.html" %}
{% block title%}收支表格{% endblock%}

{%block head%}
<meta name="csrf-token" content="{{ csrf_token() }}">

<link href="{{url_for('static',filename='layui/css/layui.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='layui/css/modules/code.css')}}" rel="stylesheet">
<style>
    .layui-table-cell{
        height:auto;
        overflow:visible;
        text-overflow:inherit;
        white-space:normal;
    }
    [data-field='count_type_f'] .layui-table-cell{
        overflow: visible !important;
    }
</style>

{% endblock %}
{% block wrapper%}
<div id="page-wrapper" class="gray-bg">
	{{self.pheader()}}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <br>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{url_for('admin.index')}}">主页</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>收支表</strong>
                </li>
            </ol>
        </div>

    </div>
    <div class="demoTable">
        <form class="layui-form" action="" style="padding-top: 20px">
            <div class="layui-inline">
                <label class="layui-form-label" for="search_f">父类：</label>
                <div class="layui-input-inline">
                    <select name="father" id="search_f">
                    <option style='display: none'></option>
                         {%for father in fathers%}
                        <option name="count_type_f" value="{{father}}">{{father}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                 <label class="layui-form-label" for="search_s">子类：</label>
                <div class="layui-input-inline">
                    <select name="father" id="search_s">
                        <option style='display: none'></option>
                        {%for son in sons%}
                        {% if '——' not in son%}
                         <option name="count_type_s" value="{{son}}">{{son}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="time_start">开始：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="time_start" id="time_start" placeholder=" - ">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="time_end">结束：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="time_end" id="time_end" placeholder=" - ">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-btn-container" style="padding: 9px 15px">
                    <button class="layui-btn payment">
                        收支类型：
                        <i class="layui-icon layui-icon-down layui-font-12"></i>
                        <b id="selectTxt"></b>
                    </button>
                    <button type="button" class="layui-btn" data-type="reload">搜索</button>
                    <button type="button" class="layui-btn" id="addBtn">新增分类</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
<!-- 这里是表格上查询工具栏的html-->





<!-- 这里是表单，新增用户的html-->
<div class="layui-btn-container layui-hide" id="addDiv">
    <form class="layui-form layui-form-pane" action="" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">父类</label>
        <div class="layui-input-block">
            <input type="text" name="father" lay-verify="f_type" autocomplete="off" placeholder="请输入收支类型的父类" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">子类</label>
        <div class="layui-input-block">
            <input type="text" name="son" lay-verify="s_type" autocomplete="off" placeholder="请输入收支类型的子类" class="layui-input">
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">子类</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="checkbox" name="sex" lay-skin="switch" lay-text="男|女">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <div class="layui-inline">-->
<!--            <label class="layui-form-label">生日</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="birthday" id="birthday" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="saveBtn" lay-submit="" lay-filter="saveBtn">立即提交</button>
            </div>
        </div>
    </form>
</div>


<table id="demo" lay-filter="test"></table>
<!--<table  class="layui-table-cell" id="demo" lay-filter="demo_list"></table>-->
</div>



{% endblock%}
{%block script%}

<script src="{{url_for('static',filename='layui/layui.js')}}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script type="text/html" id="tableToolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-icon layui-icon-refresh-3" lay-event="refresh">刷新</button>
    </div>
</script>
<script type="text/html" id="table_father" >
    <select name="editStateS" lay-filter="edit_select" id="editStateS">
        {%for father in fathers%}
        <option name="count_type_f" value="{{father}}">{{father}}</option>
        {% endfor %}
    </select>
</script>

<script type="text/html" id="table_son">

</script>


<script>
    let payment = {{father_son_map|tojson}}
    let fathers_ = {{fathers|tojson}}
    //页面加载
    $(function () {
        $("#income a").click()
        $("#ten").addClass('active')
    })



    //ajax请求
	let csrf_token = $('meta[name=csrf-token]').attr('content');

	$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token)
            }
        }
    })

//加载模块  
layui.use(['table','dropdown','form'],function() {
	//得到各种内置组件
	let layer = layui.layer //弹层
	,table = layui.table //表格
	,form = layui.form
	,dropdown = layui.dropdown
	,laydate = layui.laydate
	let str = ''

    // 时间范围选择
    //页面头部的日期组件
    let nowTime = new Date();
    let startTime = laydate.render({
            elem: '#time_start', //选择器结束时间
            format: 'yyyy-MM',
            type: 'month',
            max:'nowTime',//默认最大值为当前日期
            showBottom: false, //关闭底部框 去掉取消、确定、清空按钮
            // 选择年份或者月份都会关闭
             change: function (value, date, endDate) { //监听日期被切换
                lay('#endTime').val(value);
                 if ($(".layui-laydate").length) {
                     $(".layui-laydate").remove();
                 }
             },
            //选择月份即选中关闭  年份扔可以左右点击选择
             change: function (value, date, endDate) { //监听日期被切换
                 lay('#endTime').val(value);
                 $('.laydate-month-list').on('click','li',function () {//利用的事件委托
                     $('.layui-laydate').remove()
                  })
             },
            done: function (value, date) {
                endTime.config.min = {
                        year:value ? date.year : 3099,
                        month: date.month - 1, //关键
                        date: date.date,
                        hours: 0,
                        minutes: 0,
                        seconds: 0
                //      hours:date.hours,
                // minutes:date.minutes,
                // seconds:date.seconds
                    }
            }
        });
	let endTime = laydate.render({
            elem: '#time_end', //选择器结束时间
            format: 'yyyy-MM',
            type: 'month',
            max:'nowTime',
            showBottom: false, //关闭底部框 去掉取消、确定、清空按钮
            // 选择年份或者月份都会关闭
             change: function (value, date, endDate) { //监听日期被切换
                lay('#endTime').val(value);
                 if ($(".layui-laydate").length) {
                     $(".layui-laydate").remove();
                 }
             },
            //选择月份即选中关闭  年份扔可以左右点击选择
             change: function (value, date, endDate) { //监听日期被切换
                 lay('#endTime').val(value);
                 $('.laydate-month-list').on('click','li',function () {//利用的事件委托
                     $('.layui-laydate').remove()
                  })
             },
            done: function (value, date) {
                startTime.config.max = {
                        year:value ? date.year : 3099,
                        month: date.month - 1, //关键
                        date: date.date,
                        hours: 0,
                        minutes: 0,
                        seconds: 0
                    }
            }
        });
    //收支类别动态显示
    function payment_s_load(data){
        let proHtml = '';
        for (let i = 0; i < data.length; i++) {
                proHtml += '<option name="count_type_s" value=\"' + data[i]  + '\">' + data[i] + '</option>';
            }
        return proHtml
    }





	//下拉框动态加载演示
	dropdown.render({
		elem: '.payment'
		,data: [{title: '全部',id: -1}, {title: '收入',id: 1}, {title: '支出',id: 2}]
        ,click: function(obj){
		    this.elem.val(obj.id);
			$("#selectTxt").text(obj.title);
		}
	});
    dropdown.render({
		elem: '#editStateS'
		,data: [{title: '全部',id: -1}, {title: '收入',id: 1}, {title: '支出',id: 2}]
        ,click: function(obj){
		    this.elem.val(obj.id);
			$("#selectTxt").text(obj.title);
		}
	});
	//监听指定开关
	form.on('switch(switchTest)', function(data){
		layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {offset: '6px'});
		console.log(data)
	});

	//监听提交
	form.on('submit(saveBtn)', function(data){
		console.log(data.field.name)
		console.log(data.field.sex)
		console.log(data.field.birthday)
		var input={
			name:data.field.name,
			birthday:data.field.birthday,
			sex:2
		}
		if (data.field.sex==="on"){
			input.sex=1
		}
		//调用服务端
		AddUser(input,-1)
	});

	//执行一个 table 实例
	let tableObj =table.render({
        elem: '#demo'
		,url: '/table_show' //数据接口
		,title: '用户表'
        ,height:700
		,page: true //开启分页
		,method: 'post'
		,contentType:'application/json'
		,where:{field:'deal_date', order:'asc',}
		,defaultToolbar: ['filter', 'print', 'exports']
		,toolbar: '#tableToolBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		,loading: true //数据加载中。。。
		,totalRow: true //开启合计行
		,limit: 20
		,parseData: function (res) {return {"code": res.code,"msg": res.message,"count": res.total,"data": res.data}}
		, cols: [[ //表头
		    {checkbox:true, fixed: true}
            ,{field: 'deal_date', title: '交易时间', width: 170, sort: true, totalRowText: '合计：'}
			,{field: 'counterparty', title: '交易对方', sort: true}
			,{field: 'income_expense', title: '收支', width: 80, sort: true}
			,{field: 'count_type_f', title: '父类', width: 160, sort: true, templet: "#table_father"}
			,{field: 'count_type_s', title: '子类', width: 160, sort: true, templet: function (res){
			     //数据转换显示示例
			    let s_html = ''
                if (typeof(payment[res.count_type_f]) !== "undefined"){
                    payment[res.count_type_f].forEach(function (val, index) {
                        if(val===res.count_type_s){
                            s_html += '<option name="count_type_s" selected="selected" value=\"' + val  + '\">' + val + '</option>';
                        }else{
                            s_html += '<option name="count_type_s" value=\"' + val  + '\">' + val + '</option>';
                        }
                    })
                }
                return '<select name="editStateS2" lay-filter="edit_select" id="editStateS2" >' + s_html + '</select>'
			}}
			,{field: 'amount', title: '金额', width: 150, sort: true, totalRow: true}
			,{field: 'goods', title: '商品', sort: true}
			// ,{field:'right', title: '操作', width:300,toolbar:"#barDemo"}
		]]
		,id:'testReload'
		,done: function () {
			//实现数据同步
			let divForm = $("#demo").next();                                    // 获取表格，tableId是表格的id
			let tableCache = layui.table.cache['testReload'];                   // 获取表格缓存数据，tableCacheId也是表格的id
            let trJqs = divForm.find(".layui-table-body tr");                   // 获取表格body下的所有tr标签
			trJqs.each(function () {                                            // 遍历每个tr标签
			    let trJq = $(this);                                             // 获得当前遍历的tr标签
				let dataIndex = trJq.attr("data-index");                        // 得到当前数据行的data-index，即为第几行数据
				trJq.find("td").each(function () {                              // 遍历tr标签下的每一个td标签
					let tdJq = $(this);                                         // 获得当前遍历的td标签
					let fieldName = tdJq.attr("data-field");                    // 获得当前td标签的字段名
					let selectJq = tdJq.find("select");                         // 获得当前td标签下的select标签
					if (selectJq.length === 1) {                                // 判断select标签是否存在
						selectJq.eq(0).val(tableCache[dataIndex][fieldName]);   // 将表格里的缓存数据赋值给select标签
					}
				});
			});
			form.render('select');                                              // 重新加载select表单



			//数据动态更新
			form.on('select(edit_select)', function (data) {
				let tableCache = table.cache['testReload'],                           // 获得数据表格的缓存数据
                    value = data.value,                                         // 得到下拉列表改变后的value值
                    field = data.othis.parents('td').attr('data-field'),        // 获得下拉列表的父级td标签的字段名称
                    dataIndex = parseInt(data.othis.parents('tr').attr('data-index')),  // 获得变化的下拉列表所在的行index
                    lineDate = tableCache[dataIndex];                           // 获得数据表格中该行的缓存数据
                if(field==='count_type_f'){
                   $(data.elem).parents("tr").find("select[name='editStateS2']")[0].innerHTML= payment_s_load(payment[value]);

                }
				if (tableCache[dataIndex][field] !== value) {                   // 判断数据是否发生了变化
					                                                            // 这里可以写ajax实现与后台数据的交互
					let update_data = {};
					update_data['deal_number'] = lineDate['deal_number']
					update_data[field] = value
					$.ajax({
                        type: "POST",
						url: "{{url_for('admin.table_operate')}}",
						data: JSON.stringify(update_data),
						contentType: 'application/json;charset=utf-8',//请求数据类型必须有
						dataType: "json",
						async: true,//异步
						success: function (res) {
							// data = jQuery.parseJSON(data);  dataType指明了返回数据为json类型，故不需要再反序列化
							if (res['msg'] === 'ok') {
								layer.msg('修改数据成功')
							} else {
								layer.msg('修改数据失败')
							}}
					});
					layui.form.render('select');
					// tableCache[dataIndex][field] = value;  // 将修改后的数据更新到数据表格的缓存数据中
				}
			});
		}

	});

	var $ = layui.$, active = {
	    reload: function(){
	        let search_f=$("#search_f").val()
            ,search_s=$("#search_s").val()
            ,time_start=$("#time_start").val()
            ,time_end=$("#time_end").val()
            ,payment= parseInt($(".payment").val())
            table.reload('testReload', {
                where: {
                    father:search_f,
                    son:search_s,
                    time_start:time_start,
                    time_end:time_end,
                    payment:payment
                    }
                });
            }
        };
	//搜索按钮点击后触发，也可以写简易版的，像普通事件那样
    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        //调用 reload
        active[type] ? active[type].call(this) : '';
    });
    //监听表格复选框选择，暂时不做批量删除，想做这里实现
    table.on('checkbox(test)', function(obj){
        console.log(obj)
    });

    table.on('sort(test)', function(obj){               //注：sort是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			console.log(obj.field);                     //当前排序的字段名
			console.log(obj.type);                      //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
			console.log(this);                          //当前排序的 th 对象
			//尽管我们的 table 自带排序功能，但并没有请求服务端。
			//有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
			table.reload('testReload', {
				  initSort: obj                         //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
				  ,where: {                             //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
					  field: obj.field                  //排序字段
					  ,order: obj.type                  //排序方式
				  }
			  });
      });
    //新增按钮点击触发弹窗
    $('#addBtn').on('click', function(){
        html= $("#addDiv").html()
        //弹出一个页面层
        layer.open({
            type: 1,
            msg:'新增分类',
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: html
        });
        //日期选择组件加载
        laydate.render({
            elem: '#birthday'
        });
        //自定义验证规则
        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '姓名至少得2个字符啊';
                }
            }
        });
        form.render();
    });

    //监听工具条,绑定点击事件
    table.on('tool(test)', function(obj){
        console.log(obj)
        var data = obj.data;
        if(obj.event === 'detail'){
            layer.msg('ID：'+ data.no + ' 的查看操作');
        } else if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
                console.log(data);
                $.ajax({
                    url: "/table",
                    type: "POST",
                    data:{"no":data.no},
                    dataType: "json",
                    success: function(data){
                        if(data.data===true){
                            //删除这一行
                            obj.del();
                            //关闭弹框
                            layer.close(index);
                            layer.msg("删除成功", {icon: 6});
                        }else{
                            layer.msg("删除失败", {icon: 5});
                        }
                    }
                });
            });
        } else if(obj.event === 'edit'){
            layer.prompt({
                formType: 2
                ,title: '修改 ID 为 ['+ data.no +'] 的生日为'
                ,value: data.birthday
            }, function(value, index){
                //这里一般是发送修改的Ajax请求
                EidtUser(data,value,index,obj);
            });
        }
    });
    //编辑的方法
    function  EidtUser(data,value,index,obj) {
        $.ajax({
            url: "/table_operate",
            type: "POST",
            data: {"no": data.no, "birthday": value},
            dataType: "json",
            success: function (data) {
                //这里的state 是你返回的字段名，自己替换
                if (data.data === true) {
                    //关闭弹框
                    layer.close(index);
                    //同步更新表格和缓存对应的值
                    obj.update({
                        birthday: value
                    });
                    layer.msg("修改成功", {icon: 6});
                } else {
                    layer.msg("修改失败", {icon: 5});
                }
            }
        });
    }

    //新增的方法
    function  AddUser(data,index) {
        $.ajax({
            url: "/table_operate",
            type: "POST",
            data: {"no": data.no,"name":data.name, "birthday": data.birthday,"sex":data.sex},
            dataType: "json",
            success: function (data) {
                //这里的state 是你返回的字段名，自己替换
                if (data.data === true) {
                    //关闭弹框
                    layer.close(index);
                    //同步更新表格和缓存对应的值
                    layer.msg("成功", {icon: 6});
                } else {
                    layer.msg("失败", {icon: 5});
                }
            },
            error:function (data) {
                console.log(data)
                layer.msg("失败", {icon: 5});
            }
        });
    }

	//向世界问个好
	layer.msg('Hello World');

    //表格form，筛选条件
	$('#searchBtn').on('click', function() {
	    $('form').on('submit', function() {
	        let  req_dict = {'father':$('#search_f').val(),'son':$('#search_s').val(),'type':$('#search_i').val()}
            tableObj.reload({'where':req_dict})
            return false;
	    });
	});



});
</script>
{% endblock%}
        