[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-mail = "*"
flask-ckeditor = "*"
wtforms = "*"
flask-moment = "*"
numpy = "*"
"sqlalchemy.utils" = "*"
mysql-connector = "*"
flask-login = "*"
gunicorn = "*"
faker = "*"
flask-wtf = "*"
github-flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
